:host {
  display: block;
  width: 100%;
}

.fa-spin-animation {
  display: inline-block;
  animation: spin-footer 1s linear infinite;
}

@keyframes spin-footer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
