<!-- On ajoute la classe .scrolled et .menu-open conditionnellement via les Signals -->
<header class="header" [class.scrolled]="isScrolled()" [class.menu-open]="isMenuOpen()">
  <div class="container header__container">

    <!-- GAUCHE : Logo + Nom -->
    <a routerLink="/" class="header__brand" (click)="closeMenu()">
      <!-- Le Symbole (Image) -->
      <img src="/images/logo-evolia-tech.png" alt="Évolia Tech Logo" class="header__logo-icon">

      <!-- Le Nom (Texte) -->
      <span class="header__logo-text">
        Évolia <span class="text-highlight">Tech</span>
      </span>
    </a>




    <!-- MENU GRAND ÉCRAN (Caché sur mobile via CSS) -->
    <app-large-screen-menu></app-large-screen-menu>

    <!-- DROITE : Bouton Contact (Caché sur mobile via CSS) -->
    <div class="header__actions">
      <app-evo-button text="Devis Gratuit" preset="green" variant="solid" (click)="quoteService.openQuoteForm()">
      </app-evo-button>
    </div>

    <!-- Toggle menu mobile -->
    <button class="header__toggle" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen()"
      aria-label="Ouvrir le menu">
      <fa-icon [icon]="isMenuOpen() ? faTimes : faBars"></fa-icon>
    </button>
  </div>

  @if (isMenuOpen()) {
    <!-- MENU PETIT ÉCRAN (OVERLAY MOBILE) -->
    <app-small-screen-menu (closeMenu)="closeMenu()"></app-small-screen-menu>
  }
</header>