@use '../../../../../styles/variables' as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-3xl; // Important pour empiler Hero + Works
  align-items: center;
  overflow: hidden; // Empêche tout scroll interne (horizontal et vertical)
  padding-top: 12rem;

  @include respond-to('lg') {
    padding-top: 9.5rem;
  }

  @include respond-to('md') {
    min-height: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

  @include respond-to('sm') {
    min-height: auto;
    padding-top: 12rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;
    overflow: hidden; // Empêche les lueurs (glow) d'engendrer un scroll

    // Grille subtile en fond (comme sur ta photo)
    .grid-pattern {
      position: absolute;
      inset: 0;
      background-image:
        linear-gradient(rgba($light-cream, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba($light-cream, 0.03) 1px, transparent 1px);
      background-size: 40px 40px;
      -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
      mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
    }

    // Effet de lumière (Glow)
    .glow-effect {
      position: absolute;
      width: 300px;
      height: 600px;
      border-radius: 50%;
      filter: blur(60px); // Le flou qui crée l'ambiance
      //opacity: 0; // Géré par GSAP
      top: -200px;
    }

    .glow-left {
      left: 0;
      transform: rotate(-45deg);
      background: radial-gradient(circle, rgba($accent-green, 0.5) 0%, transparent 90%);
    }

    .glow-right {
      top: -60%;
      transform: translateY(50%);
      right: -150px;
      background: radial-gradient(circle, rgba(rgba(86, 6, 98, 0.568), 0.4) 0%, transparent 70%);
    }
  }

  // --- CONTENU ---
  &__container {
    position: relative; // Passe au dessus du fond
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;
    z-index: 2;

    @include respond-to('md') {
      gap: 1.5rem;
    }
  }

  // --- TYPOGRAPHIE ---
  &__title {
    max-width: 720px;
    // La taille est gérée responsive dans styles.scss (h1),
    // mais on peut forcer un peu plus grand ici si besoin
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: clamp(2.2rem, 5.5vw, 3.3rem);

    .text-gradient {
      color: $dark-quaternary;
    }
  }

  &__description {
    max-width: 550px;
    font-size: 1.05rem;
    line-height: 1.5;
    color: $text-muted;

    @include respond-to('md') {
      font-size: 1rem;
      line-height: 1.45;
    }
  }

  // --- BOUTONS ---
  &__actions {
    display: flex;
    gap: $spacing-lg;
    margin-top: $spacing-lg;
    flex-wrap: wrap;
    justify-content: center;

    @include respond-to('md') {
      app-evo-button:first-child {
        display: none !important;
      }
    }
  }
}