<div class="project-card-wrapper" [class.is-reverse]="index % 2 === 1">

  <!-- Numéro du projet (Top 10 Netflix alterné gauche / droite) -->
  <span class="project-index">{{ (index + 1).toString().padStart(2, '0') }}</span>

  <article class="project-item" (click)="onCardClick()">

    <!-- Zone visuelle -->
    <div class="project-visual">
      <div class="visual-frame">
        <img [src]="project.image" [alt]="project.title" loading="lazy" />
      </div>
    </div>

    <!-- Infos du projet -->
    <div class="project-meta">
      <div class="project-meta__top">
        <div class="meta-top">
          <span class="project-client">{{ project.clientName }}</span>
        </div>
        @if (project.seoDescription) {
        <p class="project-description">{{ project.seoDescription }}</p>
        }
      </div>

      <div class="project-meta__bottom">
        <app-evo-button text="En savoir plus" preset="cream" variant="solid" bgColor="#b9b4e9" textColor="#0A0325"
          hoverBgColor="#faf7e8" hoverTextColor="#0A0325">
        </app-evo-button>
      </div>
    </div>

  </article>
</div>