<nav class="large-screen-menu">
  <ul>
    <li>
      <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        Accueil
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        À Propos
      </a>
    </li>
    <li>
      <a routerLink="/portfolio" routerLinkActive="active">
        Réalisations
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </li>
    <li>
      <a (click)="quoteService.openQuoteForm()" role="button" tabindex="0" style="cursor: pointer;">
        Devis
      </a>
    </li>
  </ul>
</nav>
