@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.page-about {
  min-height: calc(100vh - 80px);
  padding: 12rem 0 $spacing-3xl 0;
  background-color: $dark-primary;
  position: relative;
  overflow: hidden;
}
