@use '../../../styles/variables' as *;

.footer {
  width: 100%;
  padding-bottom: 2rem; // Un peu d'espace en bas du site

  .content {
    display: flex;
    flex-direction: column;

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      font-size: 0.875rem;
      border-top: 2px solid $dark-secondary;
      padding-top: 2rem;

      p {
        font-size: 1rem;
        color: $text-muted;
      }

      ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          &:last-child{
            padding-left: 1.3rem;
              border-left: 1px solid $text-muted;
            }
          a {
            font-size: 1rem;
            color: $text-muted;
            font-weight: $font-weight-regular;
            text-decoration: none;
            transition: color $transition-fast;
            line-height: 1;
            width: fit-content;


            &:hover {
              cursor: pointer;
              color: $light-cream;
            }
          }
        }
      }
    }
  }

  .brand {
    width: 100%;
    container-type: inline-size;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem; // Compense le padding pour garder le layout propre
    display: flex;
    justify-content: center;

    // On garde l'overflow hidden pour l'animation GSAP (le texte qui monte),
    // MAIS on ajoute du padding vertical pour que le texte ne soit pas coupé à l'intérieur.
    overflow: hidden;
    padding: 2rem 0; // <--- TRÈS IMPORTANT : Laisse de la place pour les accents et les ombres

    .brand-container {
      container-type: inline-size;
      width: 100%;

      .company-name {
        margin: 0;
        font-weight: 900;
        white-space: nowrap;
        font-size: 14.8cqw;
        color: $light-cream;
        text-align: center;
        font-family: $font-heading; // Sora
        font-weight: $font-weight-bold;

        // On force un line-height légèrement supérieur à 1 pour les polices massives
        line-height: 1;
        display: block;

        // On enlève les marges par défaut qui pourraient pousser le texte hors du cadre
        padding: 0;

        letter-spacing: -0.02em;
        will-change: transform, opacity;

        // Petit bonus pour lisser le rendu des bords des lettres
        -webkit-font-smoothing: antialiased;
        transform-style: preserve-3d;
      }
    }
  }
}
