@use '../../../styles/variables' as *;

footer {
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba($dark-secondary, 0.2) 20%, rgba($dark-primary, 0.95) 100%);
  border-top: 1px solid rgba($light-cream, 0.05);
  padding-top: 6rem;
  padding-bottom: 2rem;
  overflow: hidden; // Sécurité absolue contre le scroll horizontal du texte géant
}