<footer class="footer">
  <div class="content container">
    <div class="contact-info">
      <h3>Contactez-nous</h3>
      <p>Email : <a href="mailto:contact@evolia-tech.com">contact@evolia-tech.com</a></p>
    </div>

    <div class="bottom">
      <p>&copy; {{ currentYear }} Évolia Tech. Tous droits réservés.</p>

      <ul>
        <li><a routerLink="">Politique de confidentialité</a></li>
        <li><a routerLink="">Conditions d'utilisation</a></li>
      </ul>
    </div>
  </div>

  <div class="brand">
    <div class="brand-container container">
      <h2 class="company-name">Évolia Tech</h2>
    </div>
  </div>
</footer>
