@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.page-portfolio {
  width: 100%;
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;

  @include respond-to('lg') {
    padding-top: 9.5rem;
  }

  @include respond-to('md') {
    padding-top: 8.5rem;
  }

  @include respond-to('sm') {
    padding-top: 7.5rem;
  }
  background: $dark-primary;
  position: relative;
  z-index: 1;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}