@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.page-portfolio {
  padding: 12rem 0 $spacing-3xl 0;

  @include respond-to('lg') {
    padding-top: 9.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}