<div class="quote-wizard">
  <app-quote-wizard-header />

  @if (state.isSubmitted()) {
    <app-step-success />
  } @else if (state.isFailed()) {
    <app-step-error />
  } @else {
    <form [formGroup]="state.quoteForm" (ngSubmit)="state.onSubmit()" class="form">
      @if (state.currentStep() === 1) {
        <app-step-project-type />
      }

      @if (state.currentStep() > 1 && state.currentStep() < state.totalSteps()) {
        @switch (state.projectType()) {
          @case ('showcase') { <app-step-showcase /> }
          @case ('web')      { <app-step-saas /> }
          @case ('ecommerce') { <app-step-ecommerce /> }
          @case ('mobile')   { <app-step-mobile /> }
        }
      }

      @if (state.currentStep() === state.totalSteps()) {
        <app-step-contact />
      }

      <app-quote-wizard-footer />
    </form>
  }
</div>